/*
===========================================================
	CSS Reset
===========================================================
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
    ===========================================================
    Font Styles
    ===========================================================
*/

@font-face {
    font-family: "Harlow";
    src: url(../font/HARLOWSI.TTF);

}

/*
	===========================================================
	Custom Styles
	===========================================================
*/
        body {
                color: #464646;
                font: 400 16px/22px "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
                height: 100%
        }

        .event-box {
                display: inline-block;
                background-color: #B54AF2;
                margin: 1px 1px;
        
        }

/*
	===========================================================
	Grid
	===========================================================
*/
        
        
        *,
        *:before,
        *:after {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                        box-sizing: border-box;
        }
        
        
        .grid {
             position: fixed;
             top: 70px;
             left: 80px;
             padding-left: 15px;
             padding-right: 15px;
             margin: 0 auto;
             width: 94%;

        }

        
        .col-1-2 {
                display: inline-block;
                width: 50%;
                padding: 10px 10px;
                margin: 5px 5px;
                
        }

        .col-1-6 {
                width: 16.66%;
        }
        
        .row {
                margin-top: 10px;
                margin-bottom: 10px;
                border-top: 1px solid #5F007F;
                width: 100%;
                background-color: #D1D1D1;
                padding: 2px 2px;
        }

/*
	===========================================================
	Clearfix (Just needed if we use float)
	===========================================================
*/

/*
	===========================================================
	Typography
	===========================================================
*/
        small {
                font-size: 12px;
                font-weight: 400;
        }
/*
	===========================================================
	Links
	==========================================================
*/

/*
	===========================================================
	Buttons
	===========================================================
*/
        .btn-login {
                border: 0;
                border-radius: 15px;
                background: #5F007F;
                padding: 10px 27px;
                color: #FFF;
        }

        .btn-login:hover {
                background: #FFF;
                color: #5F007F;
        }

/*
        ===========================================================
        Top Menu
        ===========================================================
*/
         .top-menu {
                position: fixed;
                left: 70px;
                top: 0;
                height: 70px;
                width: 100%;
                background: url(../images/header.png) no-repeat center center;
                background-size:cover;
                background-color: #000;
                color: #FFF;
        }
        
        .topmenu-left {
                display: inline-block;
                width: 50%;
                padding-left: 25px;
        }
       
        .topmenu-right {
                display: inline-block;
                width: 50%;
                right:0;
        }

        .topmenu-right img {
                width: 22px;
                height: 22px;
                margin: 0 5px;
        }

        .topmenu-right nav {
                margin-left: 570px;
                padding-top: 22px;
        }

        
/*
	===========================================================
	Left Menu
	===========================================================
*/
	.left-menu {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 80px;
		background-color: #000;
	        text-align: center;
                color: #FFF;
        }

       
        .left-menu img {
                margin-top: 10px;

                width: 50px;
                height: 50px;
        }

        .left-menu nav li {
                margin: 0 10px;
                font-size: 10px;
                font-weight: 500;
        }

        .left-menu nav li img {
                display: block;
                height: 26px;
                width: 32px;
                margin-right: auto;
                margin-left: auto;
        }
       
        .left-menu a {
                display:block;
                text-decoration: none;
                color: #FFF;
        }

        .left-menu a:hover {
                color: #b54af2;
        }

        
        .menubar-new {
                margin-top: 380px;
                font-size: 10px;
                font-weight: 500;
                margin-left: 5px;
                margin-right: 5px;
        }

        .menubar-new img {
                display: block;
                height: 40px;
                width: 40px;
                margin-left: auto;
                margin-right: auto;
        }

/*
	===========================================================
	Login
	===========================================================
*/

	#login-page {
		background: url(../images/login-background.jpg) no-repeat center center fixed;
		background-size: cover;
		background-color: #CCC;
                height: 100%;
	}

	.login-box {
                border-radius: 10px;
                box-shadow: 10px 10px 5px rgba(0, 0, 0, .5);
                background-color: #90C;
                background-color: rgba(91, 0, 127, .5);
                width: 480px;
                margin-left: auto;
                margin-right:auto;
                padding: 12px 24px 12px 12px;
                margin-bottom: 66px;
        }

	.login-box form {
		margin: 22px;
	}

        #login-page .logo {
                padding-top: 90px;
                padding-bottom: 30px;
                height: 25%;
        }
        
        .logo img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                height: 120px;
                width: 120px;
                vertical-align: middle;
        }

         .logo h2 {
                font-family: "Harlow", Verdana, Tahoma;
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 400px;
                font-size: 17pt;
                vertical-align: middle;
                text-align: center;
                color: #5f007f;
        }

        .login-data input {
                display: block;
                border: 2px solid #c6c9cc;
                border-radius: 3px;
                margin: 5px 0 12px 0;
                text-align: center;
                padding: 5px 5px;
                width: 100%;
        }

        .login-action {
                text-align: center;
        }

        .login-action input {
                margin: 12px 0 5px 0;
        }


        .login-action a {
                text-decoration: none;
        }

        .login-action a:hover {
            text-decoration: underline;
        }


        #spoti-login {
                margin: 10px 22px 0 22px;
                width: 220px;
        }

        #login-page a {
                color: #FFF;
        }


       


/*
    ===========================================================
    Footer Login & Signup
    ===========================================================
*/


      
        .index-footer {
            margin-top: 15% !important;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0,0,0, 0.5);
        }





        .index-container {
            display: table-cell;
            padding: 0 30px;
            vertical-align: middle;
        }
       .index-navbar {
            background-color: rgba(0, 0, 0, 0.45);
            padding: 0 100px;
            position: relative;
        }

        .index-navbar-links {
            color: #e2e2ea;
            font-size: 10px;
            padding: 4px 0;
            text-align: center;
        }




        .index-navbar-links > a {
            color: #e2e2ea;
            margin-right: 15px;
            transition-duration: 0.15s;
            transition-property: color;
            white-space: nowrap;
        }
         .index-footer a {
            color: #FFFFFF;
            cursor: pointer;
            outline: 0 none;
            text-decoration: none;
        }

        .index-navbar-lang {
            background-color: rgba(0, 0, 0, 0.45);
            border-radius: 3px;
            color: #cccccc;
            cursor: pointer;
            font-size: 11px;
            height: 22px;
            left: 0;
            line-height: 22px;
            margin-top: -11px;
            padding: 0 25px 0 8px;
            position: absolute;
            top: 50%;
            transition-duration: 0.15s;
            transition-property: background-color, color;
        }
        .index-navbar-lang {
            color: #cccccc;
            cursor: pointer;
            font-size: 11px;
            line-height: 22px;
        }

        .icon-chevron-down::before {
            content: "\f078";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;

        }
        .icon::after {
            left: 0;
            position: absolute;
        }
        .index-navbar-lang > .lang-carret {
            position: absolute;
            right: 8px;
            top: 6px;
        }
        .icon, .icon-stack {
            display: inline-block;
            font-family: "Deezer Icons";
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            line-height: 1;
            position: relative;
            text-rendering: geometricprecision;
            text-transform: none;
        }

        .index-navbar-lang > .lang-select {
            border: 0 none;
            cursor: pointer;
            font-size: 11px;
            height: 100%;
            left: 0;
            margin: 0;
            opacity: 0;
            padding: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
        button, input, select, textarea {
            font-size: 100%;
            margin: 0;
            outline: 0 none;
            vertical-align: middle;
        }

        .index-navbar-lang > .lang-select {
            cursor: pointer;
            font-size: 11px;
        }
        button, input, select, textarea {
            font-size: 100%;
        }


         .index-copyright {
            background-color: rgba(0, 0, 0, 0.45);
            border-radius: 3px;
            color: #cccccc;
            font-size: 11px;
            height: 22px;
            right: 0;
            line-height: 22px;
            margin-top: -11px;
            padding: 0 25px 0 8px;
            position: absolute;
            top: 50%;
            transition-duration: 0.15s;
            transition-property: background-color, color;
        }
