<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>My Promus</title>
		<link rel="stylesheet" href="assets/stylesheets/styles.css">
	</head>

	<body>

		<div class="login-box">
			<form action="/myPromus/controller/login.php" method="post">
	
				<fieldset>
			
					<legend>Login</legend>
					<label>
						Username
						<input type="text" name="username" required>
					</label>			
	
					<label>
						Password
						<input type="text" name="password" required>
					</label>		
			
					<label>
						<input type="checkbox" name="stay" value="stay"> Remember Me
					</label>	
				
					<input type="submit" name="submit" value="Sing In">
				
				</fieldset>
			</form>
		</div>

	</body>

</html>
